@import url('header.css');
@import url('selectionArea.css');
@import url('decisionArea.css');
@import url('rulesArea.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: var(--background-gradient);
}

.game__area{
    width: min(900px, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto 0;
}

/*This is the ring animation that indicates the winner*/
.winner::before, .winner::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(225, 225, 225, 0.5);
    border-radius: 50%;
    animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
    z-index: -1;
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
.winner::after{
    background: rgba(225, 225, 225, 0.8);
    animation: ping2 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
    animation-delay: 1s;
}
@keyframes ping2{
  75%, 100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


/*This is a hide class that hides stuffs*/
.hide{
    display: none;
}


/*Please forgive my css skills, i'm not too good at writing css*/