.rules__btn{
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 10px 20px;
    border-radius: 8px;
    background: transparent;
    color: #fff;
    font: 15px;
    font-weight: 500;
    border: 1px solid #fff;
    transition: 0.4s ease;
    cursor: pointer;
}
.rules__btn:hover{
    background: #fff;
    color: hsl(237, 49%, 15%);
}

.rules__backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;

    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
}
.rules__backdrop.active{
    opacity: 1;
    visibility: visible;
}
.rules__backdrop .rules{
    position: relative;
    width: min(450px, 100%);
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rules .head h2{
    font-size: 30px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}
.rules .head .close{
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.rules .head .close img{
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
}
.rules .rule__icon{
    width: 80%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-top: 40px;
}

@media screen and (max-width: 450px){
    .rules__btn{
        right: 50%;
        transform: translateX(50%);
    }
    .rules__backdrop .rules{
        height: 100vh;
        padding: 20% 30px;
        border-radius: 0;
    }
    .rules__backdrop .rules .rule__icon{
        width: 100%;
        margin-top: 100px;
    }
    .rules .head{
        justify-content: center;
    }
    .rules .head .close{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}